<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">Interesting Stuff about me...</h1>

                <p>Hey I am Ashley Greene, And I am very excited to tell stuffs about me.
                    I am currently studying in college and doing great. I have actually mentioned at my home page about music. I love music
                    because it is a feel that makes me happier. 
                    I am a very moody person, and love being with myself. Just to tell you that I love dogs. And yeah thats the person I am.</p>
                    
                    <img src="/pic/mypic.jpeg" alt="Ashley Greene" heigt="20%" width="30%" style.position="centre"/>
                
            </div>
    </div>
</div>

    