<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">Welcome to my Site!</h1>

                <h2>Hello, you are most most welcome to my site. 
                    Always prefer music because music is a feel. Just to mention that this website is very cool. And now you can visit any page from here.
                </h2>
                 
                <button ><a href="/about">About Me!</a></button><br><br>
                <button ><a href="/projects">Projects</a></button><br><br>
                <button ><a href="/Services">Services</a></button><br><br>
                <button ><a href="/contact">Contact Me!</a></button>
            </div>
    </div>
</div>
