<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">An Interesting List of my Services</h1>

                <ul class="list-group">
                      
                    <img src="/image/mobile.jpg" alt="mobile" height="50%" width="50%" position="right"/> 
                    <li  class="list-group-item">We create custom application for tracking invoices.</li>
                    <li class="list-group-item">We build the platform using Azure.</li>
                    <li class="list-group-item">We are building a big website and making it huge and well- known project.</li>
                    
                    
                    
                    
                  </ul>
            </div>
    </div>
</div>

